.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  /* background: linear-gradient(135deg, #0a0120, #070218); */
  background-color: #0a0120;
  color: grey;
  
}

.featureSvg {
  height: 200px;
  width: 200px;
}
